*.hi
*.o
*~
*.bak
BNFC/*.hs
BNFC/DocBugpan.tex
BNFC/*.x
BNFC/*.y
BNFC/Makefile
BNFC/TestBugpan
dist/*
*.prof
*.exe
*.ps
*.txt
*.pdf
*_comb.lbr
Intfire.hs
BugSess
Delphine
Driver
Intfire
RunBugpan
RunLoom
IOTest
TestAcqOnly
TestGain
AnalyseLoom
IntFireFullOut
HaskellBackend_with_local_params.hs